In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Viedma,-40.8135,-62.9967,48.24,83,100,17.65,AR,2022-07-14 20:49:08
1,1,Butaritari,3.0707,172.7902,81.90,80,36,17.56,KI,2022-07-14 20:45:37
2,2,Yeppoon,-23.1333,150.7333,46.18,71,0,5.93,AU,2022-07-14 20:48:38
3,3,Fort Nelson,58.8053,-122.7002,71.19,37,75,8.05,CA,2022-07-14 20:53:42
4,4,Ushuaia,-54.8000,-68.3000,33.42,80,0,2.30,AR,2022-07-14 20:46:45

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Butaritari,3.0707,172.7902,81.90,80,36,17.56,KI,2022-07-14 20:45:37
5,5,Faanui,-16.4833,-151.7500,77.83,63,100,23.58,PF,2022-07-14 20:53:42
11,11,Victoria,22.2855,114.1577,85.32,84,84,5.01,HK,2022-07-14 20:47:18
16,16,Cayenne,4.9333,-52.3333,83.08,1,75,3.00,GF,2022-07-14 20:52:42
19,19,Daru,-9.0763,143.2092,75.34,78,99,17.31,PG,2022-07-14 20:53:15
20,20,Georgetown,5.4112,100.3354,80.53,92,20,0.00,MY,2022-07-14 20:48:11
24,24,Ormara,25.2088,64.6357,81.59,78,100,19.64,PK,2022-07-14 20:53:46
28,28,Bethel,41.3712,-73.4140,87.89,54,75,3.44,US,2022-07-14 20:46:55
29,29,Bairiki,1.3292,172.9752,82.40,83,40,10.36,KI,2022-07-14 20:53:47
30,30,La Asuncion,11.0333,-63.8628,87.53,62,3,16.11,VE,2022-07-14 20:53:47

In [17]:
preferred_cities_df.count()

City_ID       190
City          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
Country       190
Date          190
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1    Butaritari      KI     81.90   3.0707  172.7902
5        Faanui      PF     77.83 -16.4833 -151.7500
11     Victoria      HK     85.32  22.2855  114.1577
16      Cayenne      GF     83.08   4.9333  -52.3333
19         Daru      PG     75.34  -9.0763  143.2092
20   Georgetown      MY     80.53   5.4112  100.3354
24       Ormara      PK     81.59  25.2088   64.6357
28       Bethel      US     87.89  41.3712  -73.4140
29      Bairiki      KI     82.40   1.3292  172.9752
30  La Asuncion      VE     87.53  11.0333  -63.8628

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,81.90,3.0707,172.7902,Isles Sunset Lodge
5,Faanui,PF,77.83,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
11,Victoria,HK,85.32,22.2855,114.1577,Mini Central
16,Cayenne,GF,83.08,4.9333,-52.3333,Hôtel Le Dronmi
19,Daru,PG,75.34,-9.0763,143.2092,Daru Lodge
...,...,...,...,...,...,...
548,Bani Walid,LY,75.33,31.7566,13.9942,منزل مفتاح محمد الزلبي
549,San Fernando,PH,77.65,15.0286,120.6898,Maharlika Hostel
553,Darnah,LY,77.38,32.7670,22.6367,فندق الفردوس
555,Nauta,PE,81.95,-4.5061,-73.5757,Amazon Exploring Expedition - Eretzen Tá Lodge
558,Calabozo,VE,89.29,8.9242,-67.4293,Hotel Giardini

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))