## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\junio\Data Analytics CLASS\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Bubaque,GW,80.58,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
1,2,Kahului,US,84.97,few clouds,20.8947,-156.4700,Maui Seaside Hotel
2,7,Jatai,BR,78.62,broken clouds,-17.8814,-51.7144,Hotel Calif처rnia
3,10,Dingle,PH,76.33,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
4,15,Torbay,CA,70.88,overcast clouds,47.6666,-52.7314,Gallows Cove

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 째F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"]== 'Hampton Inn Milledgeville']
vacation_end = vacation_df.loc[vacation_df["Hotel Name"]== 'Hampton Inn Milledgeville']
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"]== 'Quality Inn & Suites']
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"]== 'Countryside Village'] 
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"]== 'Days Inn Rincon'] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
97,243,Milledgeville,US,89.74,clear sky,33.0801,-83.2321,Hampton Inn Milledgeville

In [61]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = (start[0][5]),(start[0][6])
end = vacation_end.to_numpy()
end = (end[0][5]),(end[0][6])
stop1 = vacation_stop1.to_numpy()
stop1 = (stop1[0][5]),(stop1[0][6])
stop2 = vacation_stop2.to_numpy()
stop2 = (stop2[0][5]),(stop2[0][6])
stop3 = vacation_stop3.to_numpy()
stop3 = (stop3[0][5]),(stop3[0][6])

In [67]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary_route = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(itinerary_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,243,Milledgeville,US,89.74,clear sky,33.0801,-83.2321,Hampton Inn Milledgeville
1,406,Vidalia,US,87.91,scattered clouds,32.2177,-82.4135,Quality Inn & Suites
2,272,Effingham,US,84.65,overcast clouds,32.3669,-81.3332,Countryside Village
3,530,Rincon,US,84.16,overcast clouds,32.2960,-81.2354,Days Inn Rincon

In [71]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} 째F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [72]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))